<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sid.startup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartupActivity"
            android:label="@string/title_activity_startup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 委派receiver名为类名 -->
        <receiver android:name="StartupIntentReceiver" >
            <!-- 在filter中设定BOOT_COMPLETED为要捕获的信息 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>