<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sid.lover"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />
	<!-- 写入SD卡的权限设置 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- 访问网络的设置 -->
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SEND_SMS" />
	
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name">
        <receiver
            android:name="sid.lover.helpers.DaysToRinging"
            android:process=":remote" />
        <activity
            android:name="LoverActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AddStoryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AboutLoverActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SendMsgActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SendMsgAddActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PeriodThingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ConstellationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".NoteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".NotesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="sid.utils.AboutActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="sid.lover.helpers.Ringing"
            android:label="@string/app_name" >
        </activity>
        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>